<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Carrito de Compras</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container mt-5">
    <h1 class="text-center mb-4">Carrito de Compras</h1>

    <table class="table table-striped table-bordered">
        <thead class="table-dark">
        <tr>
            <th>Nombre de la Figura</th>
            <th>Precio</th>
            <th>Cantidad</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item : ${usuarioCarrito}">
            <td th:text="${item.figura.nombre}"></td>
            <td th:text="${item.figura.precio}"></td>
            <td th:text="${item.cantidad}"></td>
        </tr>
        </tbody>
    </table>

    <div class="d-flex justify-content-end mt-3">
        <a th:href="@{/home}" class="btn btn-secondary">Volver Al Inicio</a>
    </div>
</div>

<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>
