<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito de Compras</title>
    <!-- Agregar Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container my-5">
    <h1 class="text-center">Carrito de Compras</h1>

    <!-- Tabla de figuras en el carrito -->
    <div class="table-responsive mt-4">
        <table class="table table-striped">
            <thead class="table-dark">
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Descripción</th>
                <th scope="col">Precio</th>
                <th scope="col">Acciones</th> <!-- Columna para el botón de eliminar -->
            </tr>
            </thead>
            <tbody>
            <!-- Itera a través de las figuras del carrito -->
            <tr th:each="pedido : ${pedidos}">
                <td th:text="${pedido.figura.nombre}">Nombre de la Figura</td>
                <td th:text="${pedido.figura.descripcion}">Descripción de la Figura</td>
                <td th:text="${pedido.figura.precio}">Precio de la Figura</td>
                <td>
                    <!-- Botón de eliminar -->
                    <form th:action="@{'/eliminar/' + ${pedido.figura.id}}" method="post" style="display:inline;">
                        <button type="submit" class="btn btn-danger btn-sm">Eliminar</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <!-- Muestra el total del carrito -->
    <h3 class="mt-4">Total: $<span th:text="${total}">0.00</span></h3>

    <!-- Botones para seguir comprando y vaciar carrito -->
    <div class="d-flex justify-content-center mt-4">
            <a th:href="@{/checkOut}" class="btn btn-primary">Proceder al Pago con Mercado Pago</a>
    </div>

    <div class="d-flex justify-content-center mt-4">
        <a class="btn btn-secondary mx-2" th:href="@{/listaDeProducto}">Seguir Comprando</a>

        <form th:action="@{/vaciar}" method="post" class="mx-2">
            <button type="submit" class="btn btn-danger">Vaciar Carrito</button>
        </form>
    </div>
</div>

<!-- Agregar Bootstrap JS y dependencias -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://sdk.mercadopago.com/js/v2"></script>
</body>
</html>