<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista de Figuras</title>
</head>
<body>
<h1>Lista de Figuras de Colección</h1>
<p>
<a th:href="@{/nueva}">Agregar Nueva Figura</a>
<p>
<a th:href="@{/nueva2}">Agregar Nueva Figura Sin Foto</a>
<table>
    <thead>
    <tr>
        <th>Nombre</th>
        <th>Precio</th>
        <th>Estado</th>
        <th>Descripción</th>
        <th>Foto</th>
        <th>Acciones</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="figura : ${figuras}">
        <td th:text="${figura.nombre}"></td>
        <td th:text="${figura.precio}"></td>
        <td th:text="${figura.estado}"></td>
        <td th:text="${figura.descripcion}"></td>
        <td><img th:src="${figura.fotoUrl}" alt="Foto" width="100"></td>
        <td>
            <a th:href="@{'/eliminar/' + ${figura.id}}">Eliminar</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
