<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nueva Figura</title>

</head>
<body>


<div class = "container">
    <form action="#" th:action="@{/guardar}"  method="POST"  th:object="${figura}" enctype="multipart/form-data">
        <h1>Añadir Nueva Figura de Colección</h1>

            <label for="nombre">Nombre de la Figura:</label>
            <input type="text" id="nombre" name="nombre" th:value="*{nombre}" required>

            <label for="precio">Precio:</label>
            <input type="number" id="precio" name="precio" step="0.01" th:value="*{precio}" required>

            <label for="estado">Estado:</label>
            <select id="estado" name="estado" th:value="*{estado}" required>
                <option value="Nuevo">Nuevo</option>
                <option value="Usado">Usado</option>
            </select>

            <label for="descripcion">Descripción:</label>
            <textarea id="descripcion" name="descripcion" th:text="*{descripcion}" required></textarea>

            <label for="image">Subir Foto:</label>
            <input th:field="*{imagen}" type="file" id="image" name="image" accept="image/*" class="form-control-file">


            <button  id="btn-registrarme" type="submit">Guardar Figura</button>
        <p th:if="${error != null}" class="alert alert-danger" th:text="'Error ' + ${error}"></p>
    </form>

    <div>
        <a th:href="@{/figuras}">Volver a la lista de figuras</a>
    </div>
</div>

</body>
</html>
