<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nueva Figura</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container mt-5">
    <form action="#" th:action="@{/guardar}" method="POST" th:object="${figura}" enctype="multipart/form-data">
        <h1 class="mb-4">Añadir Nueva Figura de Colección</h1>

        <div class="mb-3">
            <label for="nombre" class="form-label">Nombre de la Figura:</label>
            <input type="text" id="nombre" name="nombre" th:value="*{nombre}" required class="form-control">
        </div>

        <div class="mb-3">
            <label for="precio" class="form-label">Precio:</label>
            <input type="number" id="precio" name="precio" step="0.01" th:value="*{precio}" required class="form-control">
        </div>

        <div class="mb-3">
            <label for="estado" class="form-label">Estado:</label>
            <select id="estado" name="estado" th:value="*{estado}" required class="form-select">
                <option value="Nuevo">Nuevo</option>
                <option value="Usado">Usado</option>
            </select>
        </div>

        <div class="mb-3">
            <label for="descripcion" class="form-label">Descripción:</label>
            <textarea id="descripcion" name="descripcion" th:text="*{descripcion}" required class="form-control"></textarea>
        </div>

        <div class="mb-3">
            <label for="image" class="form-label">Subir Foto:</label>
            <input th:field="*{imagen}" type="file" id="image" name="image" accept="image/*" class="form-control">
        </div>

        <button id="btn-registrarme" type="submit" class="btn btn-primary">Guardar Figura</button>

        <p th:if="${error != null}" class="alert alert-danger mt-3" th:text="'Error: ' + ${error}"></p>
    </form>

    <div class="mt-3">
        <a th:href="@{/figuras}" class="btn btn-secondary">Volver a la lista de figuras</a>
    </div>
</div>

<!-- Bootstrap JS (Opcional si necesitas interactividad de Bootstrap) -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
